*{margin: 0;padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Nunito:ital,wght@0,200;1,700&family=Syne+Mono&display=swap');

#main_wrap{
    width: 100%;
}

#main_wraphead{
   background-color: darkgoldenrod; 
   border-bottom: 5px solid #3c6b3ce5;
   border-top: 3px solid #3c6b3ce5;
   

}
body{
    background-color: darkgrey;
}

.social{
    list-style-type: none;
    padding: 10px;
    position: fixed;
    right: 0%;
    top: 35%;
    border-radius: 25px 0 0 25px;
    background: #ddd;
  }
  .social li{
    float: none;
  }

  .social li img{
    width: 48px;
    height: 48px;
  }



#wrapper_inside{
    width: 960px;
    margin: 15px auto;
}
.header{
    background-color: darkgoldenrod;
    padding: 15px;
    border-right:1px solid #3c6b3ce5;
    border-left:1px solid #3c6b3ce5;
  
    
}
.header h2{
    color: #f0f8ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header p{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main_wrapnav{
    background-color: #f0f8ff;
    border-bottom:5px solid #3c6b3ce5;
}

.nav{
    background-color: #f0f8ff;
    height: 38px;
    border-right:1px solid #3c6b3ce5;
    border-left:1px solid #3c6b3ce5;
   
}
.nav ul{
    background-color: #f0f8ff;
    list-style-type: none;
    z-index: 999;
}
.nav ul li{
    float: left;
    border-right:1px solid #3c6b3ce5;
    position: relative;
}
.nav ul li:last-child{
border-right: none;
}
.nav ul li a{
    text-decoration: none;
    color:#3c6b3ce5;
    display: block;
    padding: 10px 20px;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}
.nav ul li a:hover{
    color: #f0f8ff;
    background: #3c6b3ce5;
}
.nav ul li ul{
    position: absolute;
    left: -99999px;
    background-color: #f0f8ff;
    
}
.nav ul li:hover ul{
    left: 0;
}
.nav ul li ul li:first-child{
    border-top: 5px solid #3c6b3ce5;;
}
.nav ul li ul li{
    float: none;
    border-right: none;
    border-bottom:2px solid #3c6b3ce5;
    width: 200px;
    position: relative;
}

.nav ul li ul li ul{
    position: absolute;
    top: -99999px;

}
.nav ul li ul li:hover ul{
    top: 0px;
    left: 200px;
}
.nav ul li ul li ul li{
    border-left:1px solid #3c6b3ce5;
}
.nav ul li ul li ul li:last-child{
    border-left:1px solid #3c6b3ce5;
}
.nav ul li ul li ul li:first-child{
    border-top: none;
}

#main_wrapslide{
    background-color:darkcyan;
    border-right:2px solid #3c6b3ce5;
    border-left:2px solid #3c6b3ce5;
 
}


.Slide{
    width: 960px;
    vertical-align: middle;

}

#main_wrapart{
    background-color: #f0f8ff;
    border-top: 5px solid #3c6b3ce5;
}

.cont_wrapper{
    border-right:1px solid #3c6b3ce5;
    border-left:1px solid #3c6b3ce5;
    background-color: #f0f8ff;
    padding: 9px;
    overflow: hidden;
}
.content{
    width: 620px;
    margin-right:20px;
    float: left;
}
.content h2{
   color:#3c6b3ce5;
   margin-bottom: 5px;
   margin-top: 10px;
   font-size: 23px;
   font-family: 'Nunito', sans-serif;
}
.content h3{
   color:#3c6b3ce5;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 5px;
   margin-top: 10px;
   font-size: 19px;
}
.content img{
     width: 460px;
}
.content figure{
    width: 460px;
    padding: 10px;
    background-color: #ddd;
    margin: 0 auto;
    display: block;
}
.content figcaption{
    text-align: center;
    font-family:"MandhorRegular";
    color: darkolivegreen;
}
.content p{
    text-align: justify;
    margin: 15px 0;
    font-family: 'Noto Serif Display', serif;
}
.content blockquote{
    padding: 10px;
    padding-left: 15px;
    margin-left: 35px;
    background: #ddd;
    border-left: 2px solid teal;

}
.sidebar{
    width: 296px;
    float: left;
}
.sidebar h2{
   color:#3c6b3ce5;
}

.sidebar ul li a{
    text-decoration: none;
    color: darkblue;
    padding: 3px;
    display: block;
    border-bottom: #0b4b9ee5 1px solid;
    margin-bottom: 3px;
}


.aside_bar{
    border-bottom:1px solid #3c6b3ce5;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 5px;
}
.aside_bar ul li{
    padding-left: 15px;
}
.aside_bar h2{
    margin-bottom: 10px;
}

#main_wrapfoot{
    background-color: darkslategray;
}


.footer{
background-color: darkslategray;
padding: 10px;
text-align: center;
}
.footer p{
    color: #f0f8ff;
}
#main_cont_wrap{
    margin-bottom: 25px;
    border-bottom: 1px solid #3c6b3ce5;
    overflow: hidden;
}
#imp p{
    float: left;
    width: 500px;
    margin-top: 0%;
}
#imp img{
     height: 75px;
     width: 75px;
     background: #ddd;
     border: 1px solid #3c6b3ce5;
     padding: 3px;
     margin-right: 10px;
     float: left;
}
#imp{
    margin-top: 15px;
}