@font-face{
	font-family:"SolaimanLipi";
	src:url("../font/SolaimanLipi.eot") format("eot"),
	url("../font/SolaimanLipi.woff")format("woff"),
	url("../font/SolaimanLipi.ttf") format("truetype");
	
	
	
}
@font-face{
	font-family:"MandhorRegular";
	src:url("MandhorRegular.eot") format("eot"),
	url("MandhorRegular.woff")format("woff"),
	url("MandhorRegular.ttf") format("truetype");
	
	
	
}